body {
  background-image: url(background.jpg);
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
#borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(avatar.jpg) 30 stretch;
  
}

div { 
  color: green;
  background-color: rgb(122, 115, 115);
  box-shadow: 0px 0px 15px currentcolor;
  border: 5px solid currentcolor;
  padding: 15px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
p
{
  color:aliceblue;
  font-size: 130%;
  
}
.button {
  background-color: #5f3c1c;
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1% 1%;
  cursor: pointer;
  
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}